<!DOCTYPE html>
    <%-include("include/header", {title: title})%>
    <% if (isMobile) { %>
      <%-include("include/m_list_active_module")%>
    <% } else{%>
      <%-include("include/list_active_module")%>
    <%}%>
      <!-- S 公共尾部 -->
      <%-include("include/footer")%>
      <!-- E 公共尾部 -->
    </div>
  </body>
</html>
