<div class="common-footer clear">
    <div class="g-logo fl">
	    <h1>
	    	<a href="/" class="logo-bd">深圳市前海佰迈投资有限公司</a>
	    </h1>
    </div>
    <p class="company_cpy fr">Copyright&nbsp;&copy;&nbsp;buymywine. Allright Reserved</p>
</div>