<div class="common-footer">
    <% if (!isMobile) { %>
        <div class="clear">
			<div class="g-logo fl">
			    <h1>
			    	<a href="/" class="logo-bd">深圳市前海佰迈投资有限公司</a>
			    </h1>
		    </div>
	    	<p class="company_cpy fr">Copyright&nbsp;&copy;&nbsp;buymywine. Allright Reserved <a href="https://beian.miit.gov.cn" target="_blank" class="beian">粤ICP备17145859号-1</a></p>
        </div>
	    
    <% } %>

    <% if (isMobile) { %>
        <div class="g-logo">
		    <h1>
		    	<a href="/" class="logo-bd">深圳市前海佰迈投资有限公司</a>
		    </h1>
		    <p class="company_cpy">Copyright&nbsp;&copy;&nbsp;buymywine. Allright Reserved</p>
		    <a href="https://beian.miit.gov.cn" target="_blank" class="beian">粤ICP备17145859号-1</a>
	    </div>
	<% } %>
	
	<script src="/javascripts/libs/jquery.lazyload.js"></script>
	<script>
		$(function() {
			$("img.lazyload").lazyload({effect: "fadeIn"});
		});
	</script>
</div>
