<!-- S 公共导航 -->
<div class="g-header clear">
  <div class="g-nav fr">
    <ul>
    	<li><a href="javascript:;" target="_blank">isMobile</a></li>
      <li><a href="javascript:;" target="_blank">Mobile导航</a></li>
    </ul>
  </div>
  <div class="g-logo fl">
    <h1>
    	<a href="/" class="logo-bd">深圳市前海佰迈投资有限公司</a>
    </h1>
  </div>
</div>
<!-- E 公共导航 -->