<div class="side_nav">
    <ul>
        <li class="wine">
            <a href="/prodlist" target="_blank">葡萄酒列表</a>
        </li>
        <li class="active">
            <a href="/active" target="_blank">活动列表</a>
        </li>
        <li class="top"></li>
    </ul>
</div>