@import "./mixin.scss";

.g-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 37px 87px 33px 73px;
    line-height: 66px;
    background-color: #fff;
    .g-logo {
        width: 41%;
        img {
            width: 100%;
            min-width: 340px;
            max-width: 425px;
        }
    }
    &.hasShadow {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
    .g-nav {
        ul {
            font-size: 0;
        }
        li {
            display: inline-block;
            margin-left: 45px;
            font-size: 18px;
            color: #000;
            &:hover {
                a {
                    color: #f90;
                }
            }
        }
    }
}

.static-wrapper {
    .g-header {
        position: static;
    }
}
