@mixin textdeal($rows) {
  overflow: hidden;
  @if $rows == 1 {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $rows;
  }
}

@mixin bg-img-b($width,$height,$url){
  width: $width;
  height: $height;
  background-image: url($url);
  background-repeat: no-repeat;
}

