@import './mixin.scss';
.common-footer{
    padding: 15px 0 10px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    .g-logo{
        float: none;
        .logo-bd{
            @include bg-img-b(215px, 33px, '../images/logo_footer.png');
            background-size: contain;
            text-indent: -99999px;
            margin: 0 auto;
        }
    }
    .company_cpy{
        margin-top: 50px;
    }
}