@import './mixin.scss';
@import './popup.scss';
.view-all{
    position: relative;
    display: block;
    width: 199px;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f8fa;
    font-size: 14px;
    color: #666;
    &:after{
        content: '';
        position: absolute;
        right: 12px;
        top: 16px;
        width: 64px;
        height: 5px;
        background: url(../images/home/home_spirit.png) no-repeat;
        background-position: -20px -3px;
    }
}

.g-home-carousel{
    position: relative;
    width: 100%;
    margin: 59px auto 0;
    .carousel-wrap{
        width: 100%;
        li{
            float: left;
            width: 100%;
            img{
                width: 100%;
                max-height: 674px;
                overflow: hidden;
            }
        }
    }
    .winedemo{
        position: absolute;
        right: 20px;
        bottom: -30%;
        width: 14%;
        z-index: 10;
        img{
            width: 96%;
        }
    }
}

.company-info{
    margin-top: 56px;
    .info-wrapper{
        p{
            font-size: 14px;
            color: #333;
            line-height: 30px;
            width: 100%;
            text-align: justify;
        }
    }
    .info-en{
        margin-top: 30px;
    }
}

.red-wine{
    margin-top: 40px;
    .prod-info{
        width: 100%;
        font-size: 14px;
        line-height: 18px;
        color: #333;
        margin-top: 8px;
        .intros{
            i{
                display: block;
                height: 8px;
            }
        }
    }
    .prod-item{
        padding-bottom: 20px;
    }
    .pagation-home{
        width: 280px;
        margin: 10px auto 0;
        .pagation-box{
            text-align: center;
            color: #000;
            font-weight: bold;
            li{
                display: inline-block;
                cursor: pointer;
                font-size: 12px;
                &.on{
                    em{
                        width: 11px;
                        height: 11px;
                        margin: 0 6px 0 10px;
                        background-position: 0 0;
                    }
                    i{
                        width: 62px;
                    }
                }
            }
            span,em{
                float: left;
            } 
            em{
                width: 5px;
                height: 5px;
                margin: -8px 6px 0 12px;
                background: url(../images/home/home_spirit.png) no-repeat;
                background-position: -3px -16px;
            }
            i{
                float: right;
                width: 36px;
                height: 1px;
                margin-top: 5px;
                background-color: #333;
                transition: all 300ms ease-out;
            }
        }
    }
    .prod-img{
        position: relative;
        width: 100%;
        .img-wrap{
            position: relative;
            width: 100%;
            .img-box{
                position: relative;
                width: 100%;
            }
            .item-list{
                position: relative;
                float: left;
                width: 100%;
                a{
                    display: block;
                }
            }
        }
        img{
            width: 100%;
        }
        .img-text{
            position: absolute;
            left: -10px;
            top: -12px;
            padding: 12px 5px;
            border: 1px solid #333;
            border-left: none;
            border-right: none;
            font-size: 28px;
            color: #000;
            z-index: 10;
            background-color: rgba(255,255,255,.9);
        }
    }
}

.active-home{
    margin-top: 40px;
    .active-wrap{
        position: relative;
        .item{
            width: 48%;
            overflow: hidden;
            float: left;
            margin-bottom: 3%;
            &:nth-child(even){
                float: right;
            }
            .item-wrap{
                position: relative;
                overflow: hidden;
            }
            img{
                width: 100%;
                height: auto;
            }
            .active-text{
                position: relative;
                height: 22px;
                line-height: 22px;
                z-index: 20;
                background-color: #fff;
                padding: 0 10px;
                overflow: hidden;
                color: #333;
                font-size: 14px;
                @include textdeal(1);
            }
            .active-title{
                position: absolute;
                left: 0;
                top: 100%;
                width: 100%;
                z-index: 10;
                padding: 10px 10px 15px;
                line-height: 18px;
                background-color: #fff;
                transition: all 260ms;
                .wrap{
                    position: relative;
                    &:after{
                        content: '';
                        position: absolute;
                        right: -12px;
                        bottom: -5px;
                        width: 22px;
                        height: 22px;
                        background: url(../images/home/home_spirit.png) no-repeat;
                        background-position: 0 -30px;
                    }
                }
                p{
                    height: 36px;
                    @include textdeal(2);
                }
            }
            .icon-arrow{
                position: absolute;
                right: 0;
                top: 0;
                z-index: 30;
                &:after{
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 30px;
                    background: url(../images/home/home_spirit.png) no-repeat;
                    background-position: -30px -16px;
                }
            }
        }
    }
}

.notice-home{
    margin-top: 150px;
    height: auto;
    background-color: #f2f8fa;
    .notice-tag{
        position: absolute;
        left: 26%;
        top: -100px;
        width: 193px;
        height: 212px;
        background: url(../images/home/notice_tag.png) no-repeat;
    }
    .img-wrap{
        width: 49%;
        img{
            width: 100%;
            height: auto;
            min-height: 390px;
        }
    }
    .notice-wrap{
        position: relative;
        width: 49.3%;
        margin-left: 1.7%;
        padding: 4% 0 0;
    }
    .notice-title{
        width: 55%;
        border-bottom: 1px solid #333;
        font-size: 48px;
        color: #333;
        margin-bottom: 20px;
        padding-bottom: 30px;
    }
    .notice-list{
        width: 55%;
        li{
            line-height: 30px;
            font-size: 14px;
            @include textdeal(1);
            a{
                display: block;
                color: #333;
            }
        }
    }
    .view-all{
        width: 60%;
        margin: 5px 0 0 0;
        padding: 0 28px;
        border: 1px solid #ddd;
        color: #333;
        &:after{
            width: 102px;
            height: 5px;
            background-position: 0 -60px;
            right: 28px;
        }
        &:hover{
            background-color: #000;
            color: #fff;
            &:after{
                background-position: 0 -72px;
            }
        }
    }
}

.recruit-home{
    position: relative;
    padding: 5% 0;
    .recruit-box{
        
    }
    .post-wrap{
        width: 50%;
        margin-top: 35px;
    }
    .post-nav{
        font-size: 14px;
        color: #333;
    }
    .post-tab{
        span{
            float: left;
            padding: 0 4px 10px;
            margin: 0 6px;
            cursor: pointer;
            &.on{
                border-bottom: 2px solid #333;
            }
        }
    }
    .recruit-tips{
        font-size: 18px;
        color: #333;
    }
    .post-content{
        margin-top: 30px;
        li{
            position: relative;
            line-height: 45px;
            font-size: 14px;
            border-bottom: 1px solid #ddd;
            &:after{
                content: '';
                position: absolute;
                right: 16px;
                top: 50%;   
                width: 102px;
                height: 5px; 
                margin-top: -2px;
                background: url(../images/home/home_spirit.png)  0 -60px no-repeat;
            }
            &:hover{
                background-color: #333;
                &:after{
                    background-position: 0 -72px;
                }
                a{
                    color: #fff;
                }
            }
            a{
                display: block;
                padding: 0 16px;
                color: #333;
            }
        }
    }
    .post-bg{
        position: absolute;
        right: 0;
        top: 43%;
        width: 35%;
        min-width: 451px;
    }
}

.contact-us{
    margin-top: 40px;
    padding: 30px 0 20px;
    background: #3d3d3d;
    .contact-wrap{
        
    }
    .contact-title{
        position: relative;
        margin-bottom: 36px;
        font-size: 24px;
        color: #eee;
        text-align: center;
        &:after{
            content: ' ';
            position: absolute;
            left: 50%;
            bottom: -16px;
            margin-left: -22px;
            width: 44px;
            height: 2px;
            background-color: #fff;
        }
    }
    .info-us{
        float: none;
        width: 100%;
        dl{
            position: relative;
            color: #eee;
            font-size: 14px;
            margin-bottom: 30px;
        }
        dt,dd{
            line-height: 36px;
        }
        dt{
            position: absolute;
            left: 0;
            top: 0;
            width: 66px;
            margin-right: 5px;
            font-size: 14px;
            font-weight: bold;
        }
        dd{
            width: 100%;
            padding-left: 71px;
            box-sizing: border-box;
            text-align: justify;
            .bd-map{
                position: relative;
                display: block;
                background-color: #fff;
                padding: 0 20px 0 25px;
                margin-top: 5px;
                &:after{
                    content: '';
                    position: absolute;
                    right: 20px;
                    top: 50%;   
                    width: 102px;
                    height: 5px;
                    margin-top: -2px;
                    background: url(../images/home/home_spirit.png)  0 -60px no-repeat;
                }
            }
        }
    }
    .contact-message{
        float: none;
        width: 100%;
        .msg-title{
            font-size: 18px;
            color: #eee;
            font-weight: bold;
            line-height: 30px;
            margin-bottom: 25px;
        }
        dl{
            position: relative;
            color: #eee;
            font-size: 14px;
            margin-bottom: 12px;
        }
        dt{
            position: absolute;
            left: 0;
            top: 50%;
            width: 66px;
            margin-right: 5px;
            font-size: 14px;
            font-weight: bold;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        dd{
            width: 100%;
            padding-left: 71px;
            box-sizing: border-box;
            text-align: justify;
            input, textarea, button, a{
                width: 100%;
                padding: 11px 8px;
                font-size: 14px;
                color: #666;
                border: none;
                border-radius: 3px;
                background-color: #fff;
                font-family: 'Microsoft YaHei';
            }
            input{
                width: 95%;
                height: 14px;
                line-height: 14px;
            }
            textarea{
                width: 95%;
                height: 88px;
                line-height: 18px;
                resize: none;
            }
            a{
                width: 100%;
                display: block;
                height: 36px;
                line-height: 14px;
                text-align: center;
                color: #eee;
                background-color: #000;
                box-sizing: border-box;
            }
        }
    }
}