@media screen and (min-width: 1024px) {
  .global-wrapper{
    width: 740px;
    margin: 0 auto;
    background-color: #fafafa;
  }
  .g-header{
  	width: 740px;
  	left: 50%;
  	margin-left: -370px;
  	background-color: #fafafa;
  }
}