@import './mixin.scss';

.recruit-page{
    
    .recruit-content{
        width: 80%;
        max-width: 1240px;
        min-width: 595px;
        padding: 3% 0;
        margin: 0 auto;
    }
    
    .post-title{
        font-size: 24px;
        color: #333;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
    
    .post-detail{
        padding: 30px 0 40px;
        border-bottom: 1px solid #ccc;
    }

    .post-disq, .post-duty{
        width: 45%;
        font-size: 14px;
        color: #333;
        .post-tips{
            font-size: 14px;
            margin-bottom: 5px;
        }
        ol{
            line-height: 36px;
            text-align: justify;
        }
    }
    
    .post-apply{
        margin-top: 5%;
        .apply-title{
            font-size: 18px;
            color: #333;
            font-weight: bold;
        }
        .apply-submit{
            display: block;
            width: 30%;
            height: 40px;
            min-width: 265px;
            margin: 3% auto;
            line-height: 40px;
            background-color: #000;
            color: #fff;
            font-size: 14px;
            border-radius: 4px;
            text-align: center;
        }
    }
    
    .apply-intro, .apply-list{
        width: 45%;
    }

    .apply-content{
        margin-top: 3%;
        font-size: 14px;
        color: #333;
        .apply-list{
            ul{
                margin-top: -6%;
            }
            li{
                line-height: 40px;
                margin-top: 6%;
                label,input{
                    float: left;
                }
                label{
                    width: 74px;
                }
                input{
                    width: 63%;
                    height: 18px;
                    padding: 10px;
                    line-height: 18px;
                    border-radius: 5px;
                    border: 1px solid #adafb3;
                }
            }
        }
        .apply-intro{
            label{
                width: 74px;
                height: 40px;
                line-height: 40px;
                float: left;
            }
            textarea{
                float: left;
                width: 63%;
                height: 18px;
                padding: 10px;
                line-height: 18px;
                border-radius: 5px;
                height: 155px;
                border: 1px solid #adafb3;
                resize: none;
            }
        }
    }

}